h1{
    color:burlywood; 
    text-shadow: 4px 2px gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-align: center;
}

h2{
    color:black; 
    text-shadow: 4px 2px bisque;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    text-align: center;
}


p{
    font-size: small;
    font-family: cursive;
}

.project-description{
    margin-left: 39%;
    width: 21%;
    flex-direction: column;
}

.displayAllEMPS{
    color: bisque;
    
}

.cards{
    width: fit-content;
    margin: 6px;
}



fieldset{
    color:rgb(255, 253, 253); 
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    
}

span{
    margin-bottom: 1%;
    text-align: center;
}

.filter-class{
    text-align: center;
    
}



.result-class{
    text-align: left;
    color: #ffcc00;
    font-size: small;
    border: 1px solid whitesmoke ;
    width: fit-content;
    padding:  1%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Times, serif;
}

.firstForm{
    font-size: large;
    color: rgb(255, 212, 69);
}


.placeholder-class{
    color: red;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
}

























